.container {
    position: relative;
    top: 50px;
    left: 100px;
}

img[alt="flecha_inactiva"] {
    position: relative;
    top: 5px;
    left: 2px;
}

p {
    padding-left: 20px;
    position:relative ;
    bottom: 30px;
}

.element {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    background-color: rgb(250, 243, 243);
}

.element:hover{
    background-color: #e4e4e4;
    
    
}

.element:hover img{
    content: url(../img/flecha_activa.png);
    
    
}