* {
    color:  grey;
}
p {
    color: purple;
}
.texto-relevante {
    color : red;
    font-size: 1.5em;
}
#text-html {
    color: aqua;
}
div p sub {
    color: rgb(72, 60, 135);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
div p .texto-relevante {
    font-family: 'Courier New', Courier, monospace;
}
u, i {
    border: 1px solid red;
}