
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    font-family: 'Bungee Spice', sans-serif;
}

body {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

div {
    margin: 0 auto;
    width: 300px;
    padding-top: 5px;
    height: 300px;
    align-items: center;
    justify-content:center;
    border-radius: 20px;
    background-color: white;
    border: 1px solid;
    transition: background-color 0.5s;
    
}
div:hover {
    
    background-color: rgb(252, 244, 244);
    transition: background-color 0.5s;
    box-shadow: 0 0 5px 5px rgb(214, 212, 212);
    border: 1px white;
}

img {
    border-radius: 20px;
    transition: width 0.5s;
}
div:hover img {
    box-shadow: 0 0 5px 5px rgb(214, 212, 212);
    width: 60%;
    transition: width 0.5s;
}